* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

header {
	margin-left: auto;
	margin-left: auto;
	width: 100%;
	/*text-align: center;*/
}

a {
	color: #585858;
	text-decoration: none;
}

body {
	/*max-width: 940px;*/
	margin-left: auto;
	margin-right: auto;
}

#body-home {
	max-width: 1040px;
	background-color: #FAFAFA;
	margin-left: auto;
	margin-right: auto;
}

header img {
	/*min-width: 600px;*/
	max-width: 600px;
}

nav {
	width: 100%;
	height: 70px;
	overflow: hidden;
  background-color: #fff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  backdrop-filter: blur(8px);
  background-color: rgba(250, 250, 250, 0.8);
  border-bottom: 1px solid rgb(223, 227, 231);
}

#navbar {
	margin-top: 24px;
	width: 1040px;
	margin-left: auto;
	margin-right: auto;
}

#navbar a {
	margin-left: 0px;
	
}

nav a {
	text-decoration: none;
	font-family: 'Inter', sans-serif;
	font-size: 15px;
	color: #9E9E9E;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

nav a:hover {
	text-decoration: none;
	color: #222;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

#nav-title {
	background-image: linear-gradient(225deg, #3081D0 0%, #482F9B 100%)
	width: 100%;
	text-align: center;
	text-decoration: none;
}

#nav-title:visited {
	text-decoration: none;
}

#nav-left {
	float: left;
}

#nav-right {
	float: right;
}

#nav-right a {
	margin-left: 64px;
}

.add-shadow {
  box-shadow: 0px 4px 15px -7px rgba(0,0,0,0.73);
}

h1 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 42px;
	color: white;
}

h2 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 11px;
	color: white;
}

h3 {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 17px;
	color: #9E9E9E;
}

h5 {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #9E9E9E;	
	line-height: 33px;
}

p i {
	color: #949494;
	font-size: 15px;
}

.container-portfolio {
	text-align: center;
	max-width: 700px;
	min-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.container-portfolio a img{
	max-width: 200px;
	min-width: 150px;
	position: relative;
	display: inline-block;
	margin: 10px auto 0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

img {
	/*min-width: 200px;*/
	-webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.container-portfolio a img:hover {
	opacity: .87;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.bottom-footer {
	background-image: url("img/bottom-footer.png");
	background-repeat: no-repeat;
	height: 150px;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

footer {
	height: 30px;
	margin-top: 50px;
}

footer h6 {
	float: right;
	font-family: 'News Cycle', sans-serif;
	font-size: .7em;
	margin-right: 5%;
	color: #999999;
	font-weight: 400;
}


.navArrows:hover {
	color: #3967BF;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.navArrows h1 {
	color: #222;
	font-size: 28px
}

.navArrows h1:hover {
	background: -webkit-linear-gradient(#49309C, #3182D1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

/*-- Media Queries - BEGINNING --*/
@media only screen and (min-width: 1039px) {
	#toy-chiquito {
		display: none;
	}
}

@media only screen and (max-width: 1039px) {
	#toy-chiquito {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 20%;
		text-align: center;
		font-family: 'Inter', sans-serif;
	}

	#toy-chiquito h1 {
		color: #222;
		font-size: 100px;
		margin-bottom: 42px;
		margin-top: 24px;
	}

	#toy-chiquito p {
		font-size: 36px;
		color: #9E9E9E;
		font-weight: 400;
		line-height: 55px;
	}

	#toy-chiquito b {
		color: #222;
	}
}

@media only screen and (max-width: 1040px) {
	.bigScreen {
		display: none;
	}
}

/*-- Media Queries - END --*/

.row {
	font-family: 'Inter', sans-serif;
}

.separator {
	width: 80%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: solid;
	border-width: 1px;
	border-color: #BDBDBD;
}

.container-pieza {
	width: 90%;
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: auto;
	margin-right: auto;
}

.link-pieza {
	text-decoration: none;
	color: #585858;
}

.link-pieza:hover {
	text-decoration: underline;
	color: black;
}

.pieza {
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

.pieza-display {
	max-width: 90%; 
	min-width: 600px;
	margin-top: 20px;
	margin-bottom: 30px;
}

.pieza p {
	font-family: 'News Cycle', sans-serif;
	font-size: .7em;
	color: #585858;
	margin-left: 10%;
}

#headerPieza {
	vertical-align: middle;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#cast-screens {
	min-width: 1000px;
	margin-left: -100px;
	margin-bottom: 30px;
	margin-top: 20px;
}

#cast-screens img {
	border-radius: 25px;
	margin-right: 20px;
	width: 250px;
	vertical-align: top;
}

#tagStatus {
	background-color: #E4EAEE;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 32px;
	color: #585858;
	display: inline-block;
	border-radius: 8px;
	font-weight: 600;
	vertical-align: middle;
	min-width: 45%;
	margin-right: 12px;
}

#CTAbutton {
	background-color: #0069ff;
	padding-top: 16px;
	padding-bottom: 16px;
	color: #66ccff;
	display: inline-block;
	border-radius: 8px;
	font-weight: 500;
	vertical-align: middle;
	min-width: 95%;
	margin-right: 12px;
	text-align: center;
}

#CTAbutton:hover {
	background-color: #5296F6;
	color: #fff;
	border-width: 2em;
	border-color: #5296F6;
	-webkit-box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.18); 
	box-shadow: 5px 5px 19px 5px rgba(0,0,0,0.18);
	transition: all 0.5s ease-in-out;
}


#statusStatus {
	width: 6px;
	height: 6px;
	background-color: #28CA00;
	border-radius: 10px;
	display: inline-block;
	margin-left: 24px;
	margin-right: 12px;
	-webkit-box-shadow: 0px 0px 10px 5px rgba(40,202,0,0.75); 
	box-shadow: 0px 0px 10px 5px rgba(40,202,0,0.75);
	animation: glow 2.3s infinite;
}

/* Define the glow animation */
@keyframes glow {
    0% {
        opacity: 0; /* Start with no opacity */
    }
    50% {
        opacity: 1; /* Peak opacity */
    }
    100% {
        opacity: 0; /* Fade out */
    }
}

#statusStatusOff {
	width: 6px;
	height: 6px;
	background-color: #FF0B0C;
	border-radius: 10px;
	display: inline-block;
	margin-left: 24px;
	margin-right: 12px;
	-webkit-box-shadow: 0px 0px 22px 5px rgba(255,11,12,0.55); 
	box-shadow: 0px 0px 22px 5px rgba(255,11,12,0.55);
}

/* CSS Everything But Advertising */

#descrip {

}

#descrip-content {
	max-width: 686px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 128px;
}

#descrip-content-intro {
	text-align: center;
	font-family: 'Inter', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #848484;
	line-height: 32px;
}

#descrip-content-list {	
	font-family: 'Inter', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #222;
	line-height: 32px;
}

#descrip-content-list table {
	margin-top: 96px;
	margin-bottom: 107px;
}

#descrip-content-list th {
	text-transform: uppercase;
	text-align: left;
	min-width: 221px;
	letter-spacing: 3px;
}

#descrip-content-list td {
	line-height: 23px;
}

#separated-table td {
	padding-bottom: 30px;
}

.div1 {
	background-color: #ECF1F9;
}

#page-content {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Courier New', monospace;
}

#descripcion {
	font-family: 'Inter', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #222;
	padding-top: 128px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	line-height: 1.6em;
}

#descripcion-content {
	max-width: 1040px;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}

#descripcion-content h1 {
	line-height: 39px;
}


#descripcion-intro {
	font-size: 20px;
	text-align: center;
	line-height: 32px;
	color: #fff;
}

#descripcion h1 {
	color: #222;
	font-size: 32px;
}

#descripcion h4 {
	font-size: 1.8em;
	line-height: 1.6em;
	color: #111;
	font-weight: 700;

}

#descripcion h5 {
	font-size: 1.8em;
	line-height: 1.6em;
	color: #111;
	font-weight: 400;
	text-align: justify;
	color: #545454;
	margin: 30px;
}

#descripcion h6 {
	font-size:.8em;
	color: #111;
	font-weight: 600;
	text-align: left;
	color: #545454;
	margin: 30px;
}

#descripcion b {
	color: black;
}

.quote {
	font-size: 1.4em;
	line-height: 1.6em;
	color: #111;
	font-weight: 400;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	text-decoration: underline orange;

}

.quote i {
	background-color: orange;
}

ol li {
	margin-left: 2em;
}

ol dd {
	margin-left: 3em;
}

.hero {
	margin-top: 30%;
	margin-bottom: 20%;
}

#hero-title {
	max-width: 1040px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 304px;
}

#hero-title p {
	text-transform: uppercase;
	color: white;
	opacity: 0.5;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	font-size: 12px;
	margin-bottom: 8px;
}

.hero-pieza1 {
  background-image: url(img/product/bg-hero-case.jpg);
  background-size: cover;
	/*background-image: linear-gradient(225deg, #3081D0 0%, #482F9B 100%);*/
	padding-top: 20%;
	padding-bottom: 1px;
	width: 100%;
}

.hero-pieza2 {
  /*background-image: url(img/product/bg-hero-case.jpg);*/
  background-size: cover;
	background-image: linear-gradient(225deg, #5672C4 0%, #3352E4 100%);
	padding-top: 20%;
	padding-bottom: 1px;
	width: 100%;
}

.hero-shelf {
  background-size: cover;
	background-image: linear-gradient(225deg, #E6A353 0%, #821822 100%);
	padding-top: 20%;
	padding-bottom: 1px;
	width: 100%;
}

#subhero {
	background-image: url(img/product/02-subheroes/sub-hero-case1@1x.jpg);
	background-color: #F9FAFB;
  background-size: cover;
	height: 700px;
	width: 100%;
	vertical-align: middle;
}

#subhero-tipsteros {
	background-image: url(img/product/02-subheroes/sub-hero-tipsteros@3x.jpg);
	background-color: #F9FAFB;
  background-size: cover;
	height: 700px;
	width: 100%;
	vertical-align: middle;
}

#subhero-shelf {
	background-image: url(img/product/02-subheroes/sub-hero-shelf@3x.jpg);
	background-color: #F9FAFB;
  background-size: cover;
	height: 700px;
	width: 100%;
	vertical-align: middle;
}

#hero-screens-show {
  background-image: linear-gradient(225deg, #3081D0 0%, #482F9B 100%);
  background-size: cover;
	padding-top: 128px;
	padding-bottom: 1px;
	width: 100%;
}

#hero-screens-show img {
	margin-top: 42px;
	margin-bottom: 28px;
}

#hero-screens-show-tipsteros {
  background-image: linear-gradient(225deg, #3352E4 0%, #5672C4 100%);
  background-size: cover;
	padding-top: 128px;
	padding-bottom: 1px;
}

#hero-screens-show-shelf {
  background-color: #821822;
  background-size: cover;
	padding-top: 128px;
	padding-bottom: 1px;
}

#full-width-image {
  background-size: cover;
	width: 100%;
}

#welcome {
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #454545;
	line-height: 28px;
}

#welcome h1 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 48px;
	color: #222;
	margin-bottom: 24px;
}

#welcome h5 {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #222;	
	line-height: 33px;
}

#welcome h6 {
	font-family: 'Inter', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #9E9E9E;	
	line-height: 33px;	
	text-transform: uppercase;
	margin-bottom: 40px;
	letter-spacing: 2px;
}


/*-- Container 1 BEGINNING --*/
#xlContainer-case-1 {
	width: 100%;
	background: url(img/product/01-home/01-wider-UI-cast.svg), linear-gradient(225deg, #3081D0 0%, #482F9B 100%);
	background-size: cover;
	height: 480px;
	-webkit-box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18); 
	box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18);
	border-radius: 35px;
	transition: all 0.3s ease-in-out;
	margin-bottom: 56px;
	display: inline-block;
}

#xlContainer-case-1:hover {
	opacity: .95;
	-webkit-box-shadow: 5px 5px 28px 15px rgba(0,0,0,0.34); 
	box-shadow: 5px 5px 28px 15px rgba(0,0,0,0.34);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

#xlContainer-case-1-content {
	margin-left: 32px;
	padding-top: 76px;
}

#xlContainer-case-1-content img {
	margin-bottom: 76px;
}

#xlContainer-case-1-content h1 {
	max-width: 230px;
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #fff;
	margin-bottom: 8px;
}

#xlContainer-case-1-content p {
	max-width: 330px;
	font-family: 'Inter', sans-serif;
	font-weight: 200;
	font-size: 17px;
	color: #A5BEFF;
	line-height: 26px;
	margin-bottom: 56px;
}

#xlContainer-case-shelf {
	width: 100%;
	background: url(img/product/01-home/shelf-home-img.jpg), linear-gradient(225deg, #3081D0 0%, #482F9B 100%);
	background-size: cover;
	height: 480px;
	-webkit-box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18); 
	box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18);
	border-radius: 35px;
	transition: all 0.3s ease-in-out;
	margin-bottom: 56px;
	display: inline-block;
}


/*-- Container 1 END --*/



/*-- Container 2 BEGINNING --*/
#m-Container-case-Shelf {
	width: 508px;
	height: 480px;
	background: url(img/product/01-home/02-medium-Shelf.svg), rgba(130, 24, 34, 1.0);
	background-size: cover;
	-webkit-box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18); 
	box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18);
	border-radius: 35px;
	transition: all 0.3s ease-in-out;
	margin-bottom: 56px;
	display: table-caption;
}

#m-Container-case-Shelf p {
	max-width: 205px;
	color: #DC8C63;
}

#m-Container-case-Shelf:hover {
	opacity: .95;
	-webkit-box-shadow: 5px 5px 28px 15px rgba(0,0,0,0.34); 
	box-shadow: 5px 5px 28px 15px rgba(0,0,0,0.34);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}


#m-Container-case-2 {
	width: 508px;
	height: 480px;
	background-color: ;
	background: url(img/product/01-home/02-medium-MoreUsers.svg);
	background-color: #DEE7EE;
	background-size: cover;
	-webkit-box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18); 
	box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18);
	border-radius: 35px;
	transition: all 0.3s ease-in-out;
	margin-bottom: 56px;
	display: table-caption;
}

#m-Container-case-2 h1 {
	max-width: 177px;
	color: #222;
}

#m-Container-case-2 p {
	max-width: 177px;
	color: #737373;
}

#m-Container-case-1:hover {
	opacity: .95;
	-webkit-box-shadow: 5px 5px 28px 15px rgba(0,0,0,0.34); 
	box-shadow: 5px 5px 28px 15px rgba(0,0,0,0.34);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

#m-Container-case-2:hover {
	opacity: .95;
	-webkit-box-shadow: 5px 5px 28px 15px rgba(0,0,0,0.34); 
	box-shadow: 5px 5px 28px 15px rgba(0,0,0,0.34);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}



/*-- Container 2 END --*/


/*-- Container 3 BEGINNING --*/
#l-Container-case-1 {
	width: 676px;
	height: 480px;
	background: url(img/product/01-home/04-large-Chat.svg), linear-gradient(225deg, #3081D0 0%, #482F9B 100%);
	background-size: cover;
	-webkit-box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18); 
	box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18);
	border-radius: 35px;
	transition: all 0.3s ease-in-out;
	margin-bottom: 56px;
	display: table-caption;
}

/*--
#l-Container-case-1:hover {
	opacity: .90;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
--*/

/*-- Container 3 END --*/

/*-- Container 4 BEGINNING --*/
#s-Container-case-1 {
	width: 340px;
	height: 480px;
	background: url(img/product/01-home/05-s-NorthStar.svg), rgba(65, 71, 171, 1.0);
	background-size: cover;
	-webkit-box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18); 
	box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18);
	border-radius: 35px;
	transition: all 0.3s ease-in-out;
	margin-bottom: 56px;
	display: table-caption;
}

/*-- Container 4 END --*/

/*-- Container 5-XS BEGINNING --*/
#xs-Container-case-1 {
	width: 508px;
	height: 240px;
	background: url(img/product/01-home/06-xs-Tipsteros.svg), rgba(246, 247, 252, 1.0);
	background-size: cover;
	-webkit-box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18); 
	box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18);
	border-radius: 35px;
	transition: all 0.3s ease-in-out;
	margin-bottom: 56px;
	display: table-caption;
}

#xs-Container-case-1 img {
	margin-bottom: 16px;
}

#xs-Container-case-1 h1 {
	color: #222;
}

#xs-Container-case-2 {
	width: 508px;
	height: 240px;
	background: url(img/product/01-home/07-xs-TecladoSwap.svg), rgba(240, 240, 240, 1.0);
	background-size: auto;
	background-position: left;
	-webkit-box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18); 
	box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18);
	border-radius: 35px;
	transition: all 0.3s ease-in-out;
	margin-bottom: 56px;
	display: table-caption;
}

#xs-Container-case-2 img {
	margin-bottom: 16px;
}

#xs-Container-case-2 h1 {
	color: #222;
	max-width: 123px;
}

#xs-Container-case-3 {
	width: 508px;
	height: 240px;
	background: url(img/product/01-home/08-xs-CF.svg), rgba(63, 191, 91, 1.0);
	background-size: auto;
	background-position: left;
	-webkit-box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18); 
	box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18);
	border-radius: 35px;
	transition: all 0.3s ease-in-out;
	margin-bottom: 56px;
	display: table-caption;
}

#xs-Container-case-3 img {
	margin-bottom: 16px;
}

#xs-Container-case-3 p {
	color: #D7FFE2;
	max-width: 158px;
}

#xs-Container-case-4 {
	width: 508px;
	height: 240px;
	background: rgb(71,127,229);
	background: url(img/product/01-home/09-xs-TN.svg), linear-gradient(39deg, rgba(71,127,229,1) 0%, rgba(67,102,167,1) 100%);
	background-size: cover;
	-webkit-box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18); 
	box-shadow: 5px 5px 34px 11px rgba(0,0,0,0.18);
	border-radius: 35px;
	transition: all 0.3s ease-in-out;
	margin-bottom: 56px;
	display: table-caption;
}

#xs-Container-case-4 img {
	margin-bottom: 16px;
}

/*-- Container 5-XS END --*/


#containerBG-image {
	display: inline-flex;
}

.WIP {
	filter: blur(0px) grayscale(100%);
	cursor: not-allowed;
	opacity: .3;
	-webkit-box-shadow: none;
  box-shadow: none;
}

.WIP:hover {
	filter: blur(5px) grayscale(90%);
	transition: all 3s ease-in-out;
  -webkit-transition: all 3s;
}


/*-- Table start --*/
.row {
	display: inline-block;
	width: 100%;
}

.container-showcase {
	display: inline-block;
	width: 90%;

}

.column {
  float: left;
  width: 50%;
}


.column img{
	/*--border-radius: 10px;
	padding: 3px;
	display:block;
	width: 100%;
	border-width: 1px;
	border-color: #ECECEC;
	box-shadow: 0 12px 34px 0 rgb(0 0 0 / 5%);--*/
}

.column-description {
  float: left;
  width: 50%;
  display: inline-block;
}

.column-description img {
  width: 154px;
}

.center{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
  padding-left: 20px;
  /*--padding-top: 20px;--*/
}

.left-50 {
  width: 50%;
}

.left-50 p {
	font-family: 'Inter', sans-serif;
	font-weight: 200;	
	line-height: 28px;
	max-width: 90%;
}

#bullet {
	padding-left: 24px;
}

.right-50 {
  width: 50%;
}

.right-50 p {
	font-family: 'Inter', sans-serif;
	font-weight: 200;	
	line-height: 28px;
}

.right-50 ul {
	font-family: 'Inter', sans-serif;
	font-weight: 200;	
	line-height: 28px;
}

/*-- Table end --*/

#discoveries-1 {
	margin-top: 16px;
}

#discovery-card {
	display: inline-flex;
	min-width: 319px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 12px 34px 0 rgb(0 0 0 / 5%);
	margin-right: 16px;
	margin-bottom: 16px;
	padding-left: 24px;
	padding-top: 14px;
	padding-bottom: 14px;
}

#discovery-card h1 {
	font-size: 30px;
	display: inline-block;
	vertical-align: top;
	padding-top: 17px;
}

#discovery-card p {
	font-size: 15px;
	max-width: 212px;
	margin-left: 24px;
	margin-right: 24px;
	display: inline-block;
}

#numbered-card {
	display: inline-block;
	width: 319px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 12px 34px 0 rgb(0 0 0 / 5%);
	margin-right: 16px;
	margin-bottom: 16px;
	padding-left: 24px;
	padding-top: 14px;
	padding-bottom: 14px;
	vertical-align: top;
}

#numbered-card h1 {
	font-size: 30px;
	display: inline-block;
	vertical-align: top;
	padding-top: 17px;
	padding-bottom: 16px;
}

#numbered-card p {
	font-size: 15px;
	max-width: 212px;
	margin-left: 24px;
	margin-right: 24px;
	display: inline-block;
}

#design-process-step-line {
	background-color: blue;
	height: 5px;
	width: 100%;
	vertical-align: top;
	margin-left: -24px;
	margin-top: -14px;
}

#product-card {
	display: inline-flex;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 12px 34px 0 rgb(0 0 0 / 5%);
	margin-right: 8px;
	margin-bottom: 12px;
	padding-left: 12px;
	height: 69px;
	vertical-align: middle;
}

#product-card h1 {
	font-size: 25px;
	display: inline-block;
	vertical-align: top;
	padding-top: 17px;
}

#product-card p {
	font-size: 14px;
	margin-left: 12px;
	margin-right: 12px;
	padding-top: 20px;
	display: inline-block;
}

#characteristic-card {
	font-family: 'Inter', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #222;	
	min-height: 67px;
	vertical-align: top;
	margin-top: 12px;
	display: inline-flex;
	width: 20%;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 12px 34px 0 rgb(0 0 0 / 5%);
	margin-right: 24px;
	padding-right: 24px;
	margin-bottom: 16px;
	padding-left: 24px;
	padding-top: 14px;
	padding-bottom: 14px;
}



/*-- INICIO ELEMENTOS DE UI --*/

#exp-ui {
	background-color: #F3F5F7;
	width: 100%;
	min-height: 463px;
	padding-top: 32px;
	padding-bottom: 32px;
	border-color: #ECECEC;
	border-width: 4px;
	border-style: solid;
	border-radius: 40px;
	display: flex;
  align-items: center;
  justify-content: center;
}

#exp-ui img {
	justify-content: center;
}

#exp-ui-wrap {
	background-color: #F3F5F7;
	width: 100%;
	padding-top: 32px;
	padding-bottom: 32px;
	border-color: #ECECEC;
	border-width: 4px;
	border-style: solid;
	border-radius: 40px;
	display: flex;
  align-items: center;
  justify-content: center;
}

#exp-ui-wrap img {
	justify-content: center;
}

#metric-square {
	background-color: #F3F5F7;
	width: 160px;
	height: 150px;
	border-color: #ECECEC;
	border-width: 4px;
	border-style: solid;
	border-radius: 40px;
	display: inline-block;
  text-align: center;
  padding-top: 42px;
  min-width: 154px;
}

#metric-square p {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #949494;
}

#metric-square h3 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #222;	
}

#metric-square img {
	max-width: 99%;
} 

#thumbs-container {
	display: flex;
	margin-bottom: 12px;
}

#thumbs-container p {
	line-height: 22px;
}

#thumbs-divider {
	height: 1px;
	width: 100%;
	background-color: #ECEBEB;
	margin-top: 72px;
	margin-bottom: 72px;
}

#metric-thumnails {
	width: 50px;
	margin-bottom: 42px;
	display: inline-block;
	margin-right: 34px;
	vertical-align: top;
}

#metric-thumnails img {
	margin-bottom: 16px;
}

#metric-thumnails p {
	text-align: left;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	color: #454545;
}

#thumnail-50-50 {
	width: 50px;
	height: 50px;
	background-color: black;
	margin-bottom: 16px;
}

#metric-container {
	margin-left: 24px;
	margin-bottom: 64px;
}

#metric-value {
	margin-top: 16px;
	margin-right: 32px;
	display: inline-block;
} 

#metric-value h3 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 32px;
	color: #222;	
} 

#metric-descrip {
	max-width: 317px;
	margin-left: 24px;
	padding-top: 31px;
}


/*-- FINAL ELEMENTOS DE UI --*/



hr.dashed {
  border-top: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 45px;
}

.descripcion_scrolly  {
	font-size: .8em;
	line-height: 1em;
	color: #4B4977;
	font-weight: bold;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.flechita {
	min-width: 5px;
	width: 8px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 3px;
}

#thisIsMe {
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
}

#content-divider {
margin-top: 128px;
}

#divPiezas {
	width: 70%;
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	background-color: #B6B6B6;
	margin-top: 30px;
	margin-bottom: 45px;
}

.divider-invisible {
	margin-top: 20px;
	margin-bottom: 20px;
}

.divider-visible {
	border-top: 1px solid #e6e6e6;
  border-radius: 5px;
}

.workProgress {
	width: 100%;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 128px;
}

.workProgress h1 {
	font-size: 28px;
	font-weight: 600;
	color: #222;
	margin-bottom: 16px;
}

.workProgress h2 {
	font-size: 64px;
}

.workProgress p {
	font-size: 16px;
	font-weight: 300;
}

.divider-workProgress {
	border-top: 1px dashed #444;
  border-radius: 5px;	
  margin-bottom: 128px;
  margin-top: 32px;
}



/* Chosen THUMBNAIL */

#activeThumbnail {
	width: 200px;
	opacity: .8;
	position: relative;
	display: inline-block;
	margin: 5px auto 0;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	border-width: -2px;
	border-color: #00FFFF;
	border-style: solid;
}

.piezaEnveloped {
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 22px 26px 0 rgba(75, 73, 119, 0.07);
}


